process {
  withName:porechop {
    container = "quay.io/biocontainers/porechop:0.2.4--py39h1f90b4d_6"
}
 withName:dragonflye {
    container = "quay.io/biocontainers/dragonflye:1.1.1--hdfd78af_0"
 }
 withName:sistr {
    container = "staphb/sistr:1.1.1"
 }
 withName:busco {
    container = "nanozoo/busco:5.5.0--427a3e7"
 }
 withName:make_report {
    container = "dhp565/rmd_ampliseq:21022024"
}
}